div#un {
  position: relative;
  left: 300px;
  top: 50px;
  width: 500px;
  height: 250px;
}

div#deux {
  position: relative;
  left: 10px;
  top: 250px;
  width: 500px;
  height: 250px;
}

div#trois {
  position: relative;
  top: -19px;
  left: 600px;
  width: 500px;
  height: 250px;
}

div#quatre {
  position: relative;
  left: 10px;
  top: 200px;
  width: 500px;
  height: 250px;
}


div#cinq {
  position: relative;
  left: 600px;
  top: -69px;
  width: 500px;
  height: 250px;
}

div#six {
  position: relative;
  left: 300px;
  top: 100px;
  width: 500px;
  height: 250px;
}

body {
	background-color: #5DBCD2;
}

h2 {
	text-align: center;
}

div img {
	
}