form {
    top: 10px;
    width: 90%;
    margin: auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, minmax(50px, auto));
    grid-template-areas: "nom" "prenom" "mail" "confmail" "sujet" "message" "submit";
}

@media screen and (min-width: 768px) {
    form {
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, auto);
        grid-template-areas: "nom prenom" "mail confmail" "sujet sujet" "message message" "submit submit";
    }
}

input, textarea {
    background: #333;
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

input::placeholder, textarea::placeholder {
    color: rgb(226, 223, 223);
}

input[name=nom] {
    grid-area: nom;
}

input[name=prenom] {
    grid-area: prenom;
}

input[name=mail] {
    grid-area: mail;
}

input[name=confmail] {
    grid-area: confmail;
}

input[name=sujet] {
    grid-area: sujet;
}

textarea[name=message] {
    grid-area: message;
}

input[type=submit] {
    grid-area: submit;
}

input[type=submit]:disabled {
    /* font-size: 150%; */
    opacity: 0.8;
}



.invalid {
    background-color: rgb(233, 75, 75);
    background: rgb(233, 75, 75);
    opacity: 0.8;
}

.valid {
    background-color: green;
    background: green;
    opacity: 0.8;
}

.error {
    position: relative;
    width: 90%;
    margin: auto;
    background-color: rgb(240, 114, 114);
    text-align: center;
    color: red;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity: 0.8;
    font-weight: bold;
    padding: 10px;
}

.success, .formok {
    position: relative;
    width: 90%;
    margin: auto;
    background-color: rgb(153, 221, 153);
    text-align: center;
    color: green;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity: 0.8;
    font-weight: bold;
    padding: 10px;
}