<phpunit bootstrap="vendor/autoload.php" 
		 colors="true">
		 
		 <testsuites>
<!-- 		 	<testsuite name="dao" stderr="false"> -->
<!-- 		 		<directory>test/dao</directory> -->
<!-- 		 	</testsuite> -->
		 	<testsuite name="controller">
		 		<directory>test/controller</directory>
		 	</testsuite>
		 </testsuites>
</phpunit>